[2020-04-04 00:01] jessesquires opened #1 "Setup Danger for pull requests"
https://danger.systems

https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/Dangerfile

https://github.com/marketplace/actions/danger-action

[2020-04-04 00:04] jessesquires opened #2 "Write script to generate issue template"

[2020-04-04 01:14] jessesquires opened #3 "[1] Issue #1 - April ??, 2020"
To contribute to this issue, simply leave a comment here. Review [our contributing guidelines here](https://github.com/techworkersco/techworkersco.github.io/blob/master/.github/CONTRIBUTING.md).

The current draft for this issue, if any, will be in [`_drafts/`](https://github.com/techworkersco/techworkersco.github.io/tree/master/_drafts).

[2020-04-04 01:23] jessesquires opened #5 ""Import" legacy newsletter issues?"
The old newsletter was only distributed manually via MailChimp.

Those legacy issue live in this obscure archive on mailchimp's servers:
https://us11.campaign-archive.com/home/?u=194e57c175176cfd13007a197&id=7cb85d276a

It would be cool (but very tedious) to "import" those old issues to this new site. There are only about 20 issues, so it's not too bad.

Then, this site could contain everything we

[2020-04-04 01:24] jessesquires commented on #5
Maybe once we start publishing again, I can ping the Slack channel and see if anyone is interested in volunteering to do this? Not much else to do while we "shelter-in-place" 😄

[2020-04-04 02:22] jessesquires opened #6 "Auto-tweet newsletter"
Setup [IFTTT](https://ifttt.com) to auto-tweet from our account.

[2020-04-04 02:23] jessesquires opened #7 "Setup mailchimp"
- [x] Figure out mailchimp account situation
- [x] Setup "RSS-to-email" template
- [x] Add subscribe form to `/subscribe` page

[2020-04-04 03:08] #2 closed

[2020-04-06 04:06] #1 closed

[2020-04-07 21:28] dellsystem opened #9 "Keeping track of previous "songs of the week"?"
It would be nice to have an alphabetical list (maybe automatically generated) of previous songs of the week that we've used, to prevent duplication. It could also be useful as a list of relevant songs that could be used in future newsletters.

(This could be for the github repo only - it doesn't have to be user-facing.)

[2020-04-07 21:30] dellsystem opened #10 "Length limit for newsletters?"
I've noticed that some newsletters I subscribe to are too long to be shown in one view - Gmail hides the full view in a separate page. We should figure out what the ideal length in various email clients is to make sure the ending doesn't get cut off.

[2020-04-07 21:50] dellsystem commented on #5
[assigning this to Ana who volunteered to write a script for this]

[2020-04-07 21:52] anaulin commented on #5
I'll aim to have a PR up to include the Volume 1 issues of the newsletter by April 14th.

[2020-04-07 22:08] jessesquires opened #11 "Implement jekyll categories for "volumes""
Follow-up from #5

We'll have 2 categories for now:

- `Volume 1` -- the legacy newsletter issues
- `Volume 2` -- this reboot

[2020-04-07 22:11] jessesquires commented on #9
Great idea.

We could maybe keep this in jekyll's `_data/` as a yaml file? And alphabetizing that could be easily scripted.

[2020-04-07 22:12] jessesquires commented on #10
Once we figure this out, we could add a `Danger` rule to warn on pull requests if it's too long.

[2020-04-07 22:16] jessesquires commented on #5
jekyll frontmatter for the legacy issues:

[code]

[2020-04-07 22:20] anaulin commented on #5
@jessesquires what is our preferred location to put images?

My first inclination is to put them all inside `/img`, and name the files always including the issue? (e.g. `/img/vol-1-issue-1-header.jpg`), but I don't know what is customary with Jekyll.

[2020-04-07 22:31] jessesquires commented on #5
@anaulin that's perfect 👌

I wrote support for images, too. So we can actually use this front matter instead:

[code]

Where:

- `file` = the filename only. (ex: `vol-1-issue-1-header.jpg`)
- `alt` = the `img` tag `alt` attribute
- `caption` = caption text to be displayed
- `source_link` = link to the original source of the image
- `half_width` = this is a layout setting. the image can expand to t

[2020-04-07 22:33] jessesquires commented on #11
- also update the template for this
- make notes in contributing.md

[2020-04-07 22:35] anaulin commented on #5
So far I've only seen one image per legacy newsletter issue, and always for the header, so this should work great.

Thanks for the documentation and example snippets, @jessesquires , that's very helpful. 🙏🏼

[2020-04-07 22:44] jessesquires commented on #5
Awesome.

Yeah, I think having 1 header image per issue (or none) is best for Volume 2, also.

[2020-04-07 22:53] jessesquires commented on #5
Just pushed a commit to add example images to the existing sample posts. Each has slightly different parameters in the front matter so you can see the differences.

should be available here once gh-pages builds it:
https://techworkersco.github.io/archive/

[2020-04-07 23:39] anaulin commented on #9
I like the idea of keeping it in a yaml file. Eventually we might be able to also script extracting the song data from each issue to keep the yaml file updated.

[2020-04-07 23:43] anaulin commented on #10
The GMail limit is apparently on the total size of the HTML email -- anything over 102 kb gets clipped. Which is a little annoying, because the total size will only be known after Mailchimp does its thing on top of whatever content we push into it. But we should still be able to estimate what is the overhead, in bytes, that Mailchimp adds, and then add a Danger rule taking that into account.

I'm

[2020-04-08 23:38] #11 closed

[2020-04-08 23:44] jessesquires commented on #5
Finished adding categories! And updated the fake issues so there are examples.

@anaulin I ended up changing the front matter. Turns out it can actually be simpler with a single category. So we can use `category: Volume 1`.

And I wrote up some documentation for all this:
https://github.com/techworkersco/techworkersco.github.io/blob/master/.github/CONTRIBUTING.md

[2020-04-08 23:46] jessesquires commented on #3
going to close this for now since we'll be collaborating on drafts mostly in google docs.

[2020-04-08 23:46] #3 closed

[2020-04-08 23:59] jessesquires opened #12 "Search isn't working?"
I'm not sure why but this is not working. https://techworkersco.github.io/search/

It should open up a custom duckduckgo search.

The implementation is pretty much identical to SwiftWeekly, which works fine:
https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/_includes/search_box.html

Maybe it's some indexing bug/problem?

[2020-04-11 19:14] anaulin commented on #5
@jessesquires the legacy posts don't seem to have an obvious "excerpt" for me to automagically use (e.g. see https://us11.campaign-archive.com/?u=194e57c175176cfd13007a197&id=a9d5f79101). If I simply skip the portion before ``, will that work ok?

(After we import the content, I imagine we can go back and hand-tweak things further to make up "excerpts", if we want to.)

[2020-04-11 19:51] anaulin commented on #5
Things seem to work ok if I don't have an explicit "excerpt" section, so I'm going with that for now.

[2020-04-12 00:58] jessesquires commented on #5
@anaulin Ah, right.

It will work without an excerpt, but I think a good rule-of-thumb would be to just make the first paragraph the excerpt.

This text will show on the [archives page](https://techworkersco.github.io/archive/), but more importantly, that text is used to generate the "summary" for the RSS feed entries, and it is also used to generate the "blurbs" when sharing links on social media

[2020-04-12 01:38] anaulin commented on #5
I can probably make the first paragraph into the excerpt, that's a good suggestion. I'll take a stab.

[2020-04-12 01:46] anaulin commented on #5
PS Mailchimp archive HTML is like the ugliest HTML of the nineties, and I hate it. Thanks for listening!

[2020-04-12 01:57] jessesquires commented on #5
😆 Haha I'm sorry! 🙈

[2020-04-12 02:08] anaulin commented on #5
Nah. Deep down, I find it fun. 👩‍🎤

[2020-04-12 03:54] anaulin commented on #5
Ok, so I think I have the scraper working well enough that I can run it on the entire archive and then do any small remaining tweaks manually (since this is a one-time import, it will be faster to fix manually the remaining 1% of corner cases, than to get the code to 100% accuracy).

Before I do that, I'd like a double-check on the front matter and, in particular, what I'm using as the issue title

[2020-04-12 04:49] jessesquires commented on #5
@anaulin this is awesome! 🎉 nice work, everything looks perfect to me 💯

I was going to say that I'm personally a fan of just having numbered issues, but given the new template we are considering, where we have a focus for each issue, I think number + title could be a better fit for us. I think my preference would be for that. I'm open to other ideas though.

If we combine issue number + title, I

[2020-04-13 04:14] anaulin opened #13 "Consider crediting old TWC Newsletter crew on vol 1 issues"
Check in with the old crew, credit them as desired / appropriate (or not credit them, if any want to stay anonymous).

Maybe have it someone at least in the README or in the site itself clarified that a different group created and published those original issues.

[2020-04-13 21:52] #5 closed

[2020-04-14 02:08] stationaery commented on #13
Doubt the old crew want to be named/identified individually but yes we
should at least specific that this is a revival with new folks (I tried my
hand at some copy to that effect)

On Sun, Apr 12, 2020 at 9:14 PM Ana Ulin <notifications@github.com> wrote:

[2020-04-14 02:19] jessesquires commented on #13
I agree.

I think the README works good. 👌

[2020-04-14 19:06] jessesquires opened #18 "Create a custom domain?"
We briefly discussed this in our last meeting.

### Possible options:

1. totally new domain (I think `twc.news` would be cool)
2. subdomain, probably `news.techworkerscoalition.org` is best

### Potential concerns

- A single person "owns" this, whereas the `.github.io` domain is "unowned"
- Someone needs to pay for this. We can all contribute, but we need a single "credit card holder" or someone

[2020-04-14 19:09] jessesquires commented on #18
I don't have a strong opinion on this.

I don't really know how the subdomain thing works. I don't know who currently owns `techworkerscoalition.org`.

cc @kidmillions Can you offer any ideas or help here?

[2020-04-14 19:44] jessesquires opened #19 "Add links to main TWC site homepage"
Depends on #18, once we figure that out. (And once we publish our first new issue.)

Update the links here:
https://github.com/techworkersco/twc-site/blob/develop/_i18n/en.yml#L44-L48

(Also update other languages if possible.)

[2020-04-15 20:54] jessesquires commented on #12
Ok, so I did the whole site verification for google in 5a1b4e6a9fd488f40229b7fee21f2fe763c33697.

And now [search is working there](https://www.google.com/search?newwindow=1&hl=en&ei=V3OXXuyVGJOU-gSUz6GIBw&q=unite+here+site%3Ahttps%3A%2F%2Ftechworkersco.github.io&oq=unite+here+site%3Ahttps%3A%2F%2Ftechworkersco.github.io&gs_lcp=CgZwc3ktYWIQA0oJCBcSBTEyLTYxSgkIGBIFMTItMTBQhKUBWJWuAWCXuwFoAHAAeACAAU

[2020-04-17 18:27] anaulin commented on #12
I've never really worked with DDG, so this is all based on a little bit of research I just did, and not on any direct experience. So apply the appropriate pinch of salt. 🧂

It seems DuckDuckGo gets some (most?) of their search results from Bing:

(source: https://help.duckduckgo.com/duckduckgo-help-pages/results/sources/)

I checked and the newsletter site is not being indexed by Bing yet (see e.g

[2020-04-17 19:06] jessesquires commented on #12
Ahhh. Thank youuu @anaulin 🙌

Yes, I'll do this.

[2020-04-17 19:39] jessesquires commented on #12
d9c62f9314b1ab4bb8caba3b5dee9dd9af61c390

[2020-04-18 00:35] anaulin commented on #12
Great, thanks for that. And now we wait. ⏳

[2020-04-26 23:55] shushugah commented on #18
@kidmillions is the domain owner of `techworkerscoalition.org`.

I would prefer `news.techworkerscoalition.org` for for 2 reasons, one is Page Ranking, the other is...it's clearer who this website/project is affiliated with without doing any digging.

I plan on moving `techworkersberlin.com` to `berlin.techworkerscoalition.org`, but you can see a sample blog interface here `https://techworkersberl

[2020-04-26 23:59] shushugah opened #20 "Update list of twitter accounts"
Some twitter accounts, like @TechWorkersBER are missing. For a full list of TWC affiliated social media accounts, see here https://docs.google.com/spreadsheets/d/1vuEDunlJ4IkaiW_AMcOtENWFI-VBGsYW40eBGRryNBA/edit#gid=0

[2020-04-27 00:06] stationaery commented on #20
Thanks! That helps a lot. We’re a couple weeks away from getting our README
and other materials together. Would be good to chat elsewhere about all
other infrastructure and ownership & governance.

On Sun, Apr 26, 2020 at 4:59 PM yonatan miller <notifications@github.com>
wrote:

[2020-04-27 00:10] stationaery commented on #18
Those are good reasons for the longer URL. That’s our default for now.
However, I think that twc.news is easier for typing/sharing. Getting a view
of all properties and traffic patterns might help us decide.

As for contributing/collaborating... Wunderbar! Berlin seems to have a lot
going for it, and much to teach. We plan to have materials and also a
meeting for new contributors and collaborators

[2020-04-27 19:30] jessesquires commented on #18
Using `news.techworkerscoalition.org` for the canonical url sounds best.

Then we could have `twc.news` as an alias.

[2020-04-27 21:57] jessesquires commented on #18
custom domain done in b8d13eda6a0cc6fa14967b5ca3b3d277a42c508d thanks to @kidmillions 🙌

[2020-04-27 22:02] #18 closed

[2020-04-27 22:06] jessesquires commented on #18
alright, finished up by updating our `_config` in 1507536c9efffd054b6682a2531f19dffc53901e.

we should be good to go here.

@stationaery let's revisit `twc.news` as a shorter alias in the future

[2020-04-27 22:07] jessesquires commented on #19
#18 is done, so we can do this now

[2020-04-27 22:10] jessesquires commented on #12
Goddamn. It looks like DDG and Bing **still** are not working.

We just implemented the custom domain (#18). Maybe that will help?

[2020-04-27 23:22] anaulin commented on #18
It probably doesn't matter much, but this repo is still named `techworkersco.github.io`. Might be nice to rename it to "news" or "newsletter" or "news-bayarea" or something else that is descriptive and doesn't have a misleading URL.

[2020-04-27 23:26] anaulin commented on #12
@jessesquires I am not sure how the URL submission stuff works once we have a new domain. Do we need to re-submit to both Google and Bing? Or will they follow the redirects?

I also see in my Bing Webmaster Tools the option to "import" a site from the Google Search Console (on the right side of the UI at https://www.bing.com/webmaster/home/mysites):
![Screen Shot 2020-04-27 at 4 25 35 PM](https://

[2020-04-27 23:49] jessesquires commented on #18
Unfortunately, the current name is required for GH-pages to work.

---

Well, sort of. It is possible to have another name for this repo, but it makes the jekyll setup and gh-pages hosting much more complex.

The difference is between user/organization sites vs project sites. Project sites are hosted at `/PROJECT_NAME` instead of `/` so things get... weird.

For example:

- `techworkersco.github.i

[2020-04-27 23:51] jessesquires commented on #12
Hm.. I'm assuming they follow redirects. I can check.

[2020-04-27 23:58] jessesquires commented on #12
Ok. Updated both.

🤷 🤷 🤷 🤷

[2020-04-28 01:01] anaulin commented on #18
Ah, got it. I think you already explained this but I forgot, @jessesquires , sorry for bringing it up again. I don't think it's worth much hassle to rename the repo.

[2020-04-28 01:01] shushugah commented on #18
Hosting it on Netlify would be a solution around this, and you would get many benefits of Netlify, such as previews during pull requests, the ability to run jekyll plugins outside of `--safe mode` (for example no github approved jekyll plugin exists for `i18n`

By default inside `_config` the `baseUrl` is `/` but you'd need to change it to the repository name IF you were using githubpages as your

[2020-04-28 01:04] shushugah commented on #18
Unfortunately, there's also another bug with github pages. If I created a second githubpage project called `about` which would be available at `techworkersco.github.io/about` it would also be available at `news.techworkerscoalition.org/about`, which could conflict with an actual sub resource with same name

[2020-04-28 17:53] jessesquires commented on #18
I don't know much about Netlify. But we're aiming for the simplest solution at the moment, and also the "free-est" solution. I'm not 100% sure how to interpret Netlify's [pricing](https://www.netlify.com/pricing/), but 1 team member for a free account sounds too limited and the "pro" package is expensive, considering we have 5 core members on this project and the alternative (what we currently hav

[2020-04-29 23:02] anaulin opened #21 "Figure out where does https://techworkerscoalition.org/subscribe/ entries go to"
In this form, there is an option to "subscribe to newsletter". Which newsletter does this go to?

Update it to wherever the right subscription mechanism will be for the revived newsletter.

[2020-04-30 17:33] jessesquires commented on #21
Also relevant: #19

I was just going to submit a PR to direct to our new newsletter, once we have subscription setup and working.

[2020-04-30 23:24] anaulin commented on #21
Yeah, updating that directly sounds great, if that's possible.

[2020-05-01 01:00] #7 closed

[2020-05-01 01:02] jessesquires opened #24 "Better homepage "latest" text"
I think it would look nicer to use a `badge` for the "Latest" text

https://getbootstrap.com/docs/4.4/components/badge/

[2020-05-01 01:10] jessesquires opened #25 "[Email] images not loading correctly in mailchimp emails?"
Not sure how to fix this.

Relevant docs:
https://mailchimp.com/help/rss-merge-tags/#Item_tags

Maybe add `*|RSSITEM:IMAGE|*` to the template?

And include in the RSS feed:

[code]

[2020-05-01 04:50] anaulin commented on #25
Looking at the source for the test email, I think the problem is that the image URLs in the RSS feed are relative to the site (which is how I made the image links in the first place):

![Screen Shot 2020-04-30 at 9 48 29 PM](https://user-images.githubusercontent.com/6729309/80782826-85edd680-8b2c-11ea-9429-113b278baa44.png)

So I wonder if this will "fix itself" if we make sure to use absolute ima

[2020-05-01 05:08] anaulin commented on #25
Digging further, it looks like most links in the RSS feed are created correctly, relative to the main URL, but not the ones for the header image, so maybe the best way to tweak this is by modifying the `image.html` template.

![Screen Shot 2020-04-30 at 10 06 16 PM](https://user-images.githubusercontent.com/6729309/80783570-0a415900-8b2f-11ea-93f8-21ba0f6459e4.png)

[2020-05-01 05:15] #25 closed

[2020-05-01 05:21] anaulin commented on #25
Ok, now the img URL is complete in the production RSS feed:

![Screen Shot 2020-04-30 at 10 20 30 PM](https://user-images.githubusercontent.com/6729309/80784137-d9622380-8b30-11ea-91ae-c601e91343a3.png)

But will MailChimp blend? 🤔

[2020-05-01 05:27] anaulin commented on #25
It will! (Also improved the subject line thing.)

![Screen Shot 2020-04-30 at 10 27 04 PM](https://user-images.githubusercontent.com/6729309/80784393-c2700100-8b31-11ea-9e3f-99a639edef90.png)

[2020-05-01 14:55] jessesquires opened #29 "Improve spellchecker"
see #28

[2020-05-01 14:58] jessesquires commented on #25
hell yes. nice work @anaulin 🎉

[2020-05-01 21:42] anaulin opened #31 "Header image appears blown up in MailChimp email"
This is how Issue 1 looks in the email I got from MailChimp:

![Screen Shot 2020-05-01 at 2 40 25 PM](https://user-images.githubusercontent.com/6729309/80843703-d3fceb80-8bb9-11ea-8f51-9ddf16038136.png)

That image is at more than 100% scale. Not sure why.

It would be good to figure out how to make the images display fine in the emails (maybe they need a width tag or something?).

[2020-05-01 23:12] dellsystem opened #34 "Figure out mailchimp preview text"

[2020-05-01 23:12] dellsystem commented on #31
closed with 12297e86fb25f7abfd4760e5934156a0014de5ab!

[2020-05-01 23:12] #31 closed

[2020-05-02 03:23] dellsystem opened #35 "Import missing newsletter issues"
All of 2019 is missing

[2020-05-02 03:37] anaulin commented on #35
The cobbled-together script I used for the initial import has a method that will try to scrape up an issue, given a URL and a bit of metadata:
[code]
(https://github.com/techworkersco/techworkersco.github.io/blob/master/scripts/import_legacy_issues.rb)

We could start by assembling a list of `{url, date, title}` objects for the missing issues, and then run them through that method. That at least w

[2020-05-02 15:20] anaulin commented on #12
OMG @jessesquires you did it!

![Screen Shot 2020-05-02 at 8 19 42 AM](https://user-images.githubusercontent.com/6729309/80868191-be390600-8c4d-11ea-8890-376a56822082.png)

[2020-05-02 15:23] anaulin opened #36 "Improve newsletter email display on mobile (esp. bigger, more legible font)"
@stationaery reports that the MailChimp-emitted email looks pretty bad on mobile. I checked and I concur: on mobile it seems to be still as wide as on desktop, which leads to teeny-tiny squeezed-together font.

Would be good to improve this. These days, many (most?) of the readers will be seeing this email on mobile.

[2020-05-02 15:27] anaulin opened #37 "Update MailChimp templates to include "email preview" text"
The issue frontmatter now has a `preview` item, which is shown in e.g. the Twitter card "description" text. We would like to have this preview text also be what shows up in the MailChimp email previews.

This work will require figuring out how to pull out this "preview" text from the RSS feed, and pulling it into MailChimps "email preview" template.

[2020-05-03 01:52] jessesquires commented on #36
I'm not sure what's causing this.

We currently don't have this problem with Swift Weekly (it sizes correctly on mobile), but I don't have access to the settings used there.

[2020-05-03 01:53] jessesquires commented on #37
Did we vote on not just using the excerpt text for this?

[2020-05-03 01:59] jessesquires commented on #34
I just realized that 3cfa0dd didn't update this in every spot. I'll fix

[2020-05-03 01:59] jessesquires commented on #37
Oh, is this a duplicate of #34?

[2020-05-03 02:01] jessesquires commented on #12
FUCK YES. 🎉

I tried myself and it worked for me too!

closing.

[2020-05-03 02:01] #12 closed

[2020-05-03 02:01] anaulin commented on #37
Yep, this is a duplicate of #34 . I missed that it was already filed, sry.

[2020-05-03 02:01] #37 closed

[2020-05-03 02:01] jessesquires commented on #34
nevermind lol. i just saw 986b40b8c4683470e7c426e1710d7b6d4de2c5b8

[2020-05-03 02:04] anaulin commented on #34
In https://github.com/techworkersco/techworkersco.github.io/issues/37, @jessesquires said:

I don't know if there was a deeper discussion or vote, but I got the impression from @stationaery and @dellsystem 's comments that there was a desire to have the MailChimp "email preview" to be a short pithy sentence, different from the excerpt (which is typically much longer), and also to use that in socia

[2020-05-03 02:06] anaulin commented on #34
Right now the preview text is not set to anything in MailChimp:
![Screen Shot 2020-05-02 at 7 06 03 PM](https://user-images.githubusercontent.com/6729309/80896893-07b63f00-8ca8-11ea-867f-a96fab9bed9e.png)

[2020-05-03 02:16] stationaery commented on #34
Speaking for myself, I’m a sucker for clever preview text

On Sat, May 2, 2020 at 7:06 PM Ana Ulin <notifications@github.com> wrote:

[2020-05-03 02:17] jessesquires commented on #34
@anaulin Ahh I see. I think I can fix this.

@stationaery No problem! Let's stick with the preview text.

[2020-05-03 02:17] anaulin commented on #36
I glanced at the MailChimp template but didn't see anything obvious. I wonder if the RSS itself includes some formatting?

For reference, this is a screenshot of the newsletter on my phone:
![Screenshot_20200502-191344](https://user-images.githubusercontent.com/6729309/80897031-852e7f00-8ca9-11ea-87fb-726be076a670.png)

Compare with some other newsletter on my phone:
![Screenshot_20200502-191421](

[2020-05-03 02:23] anaulin commented on #36
MailChimp's campaign preview also shows it as not being well-formatted on mobile:
![Screen Shot 2020-05-02 at 7 21 30 PM](https://user-images.githubusercontent.com/6729309/80897105-506ef780-8caa-11ea-8e11-fc078b56c946.png)

[2020-05-03 02:31] jessesquires commented on #31
I also enabled this setting, which I think might fix things in the future?

<img width="680" alt="Screen Shot 2020-05-02 at 7 30 16 PM" src="https://user-images.githubusercontent.com/2301114/80897207-6fba5480-8cab-11ea-966c-7afdcdaed5b8.png">

[2020-05-03 02:33] anaulin commented on #31
OMG, that looks exactly like the setting we were looking for. Where is that set?

[2020-05-03 02:40] jessesquires commented on #34
Figured this out. According [to these docs](https://mailchimp.com/help/all-the-merge-tags-cheat-sheet/#Personalization):

[code]

[code]

-----

Seems pretty gross. But 🤷

[2020-05-03 02:43] jessesquires commented on #34
My original thought was to use the RSS summary for the preview. We *might* still be able to do that if there is a merge tag for that, but I couldn't find one in the docs. (But there are different options when editing the template.)

Currently we have:

[code]

in [feed.xml](https://github.com/techworkersco/techworkersco.github.io/blob/master/feed.xml)

[2020-05-03 02:43] anaulin commented on #34
Nice. (And, I mean, HTML email is pretty gross, as is MailChimp HTML, so, I feel like we're committed to the grossness here...)

[2020-05-03 02:48] jessesquires commented on #34
Ah, here's what I had seen before: https://mailchimp.com/help/rss-merge-tags/

However, I'm not sure if we can use `*|RSSITEM:CONTENT|*` for the email preview?

<img width="690" alt="Screen Shot 2020-05-02 at 7 46 00 PM" src="https://user-images.githubusercontent.com/2301114/80897469-c6c12900-8cad-11ea-9897-3da9179c6dc0.png">

[2020-05-03 02:51] jessesquires commented on #31
If go through the edit campaign process, it's near the beginning, where you choose the schedule

[2020-05-03 02:55] jessesquires commented on #36
Hm... maybe? But the mobile site looks fine on my phone...

[2020-05-03 02:55] anaulin commented on #34
I couldn't find any good documentation about RSS merge tags in the "preview" field. We might need to just test it.

[2020-05-03 02:59] anaulin commented on #36
The guess about the RSS seemed like an unlikely thing to me too. I wonder if the template needs to have something to adapt to mobile better?

[2020-05-03 03:29] jessesquires commented on #36
Probably. You can go through the "Edit" flow. On the "design" section, you can specify all the different styles for headings, etc.

When I set everything up yesterday, all I did was update the link colors, so we might be able to tweak this.

[2020-05-03 03:37] stationaery commented on #36
Incidentally, the Nadia Eghbal newsletter is a bag of gems - I
highly recommend it

On Sat, May 2, 2020 at 7:59 PM Ana Ulin <notifications@github.com> wrote:

[2020-05-03 03:58] #29 closed

[2020-05-03 03:59] jessesquires commented on #29
Looking at the test run in #46

All the spelling issues are proper nouns -- names of people, companies, etc.

We could add these to the list of ignored words.

Actually, maybe I'll do that next. Cutting back the noise is probably worth it.

[2020-05-03 04:10] jessesquires commented on #13
Closing this as resolved with our new about page.

[2020-05-03 04:10] #13 closed

[2020-05-03 23:07] dellsystem commented on #35
this is going well! i'll have a PR soon with all the remaining issues (hopefully tonight)

[2020-05-03 23:08] dellsystem opened #51 "Links to previous & next issues on issue page?"
Once at the top of the page, and again at the bottom? (useful for people who are browsing back issues)

[2020-05-03 23:09] jessesquires commented on #35
@dellsystem whoa awesome! 👏

[2020-05-05 22:09] jessesquires opened #54 "Create publishing checklist doc"
Per our discussion during the May 5 meeting.

@stationaery I think you volunteered to do this?

#### Meeting Notes

[2020-05-05 22:10] jessesquires opened #55 "Create an editorial vision/process doc"
Per our discussion during the May 5 meeting.

@stationaery I think you volunteered to do this, as well? If not feel free to re-assign, or we can discuss later.

#### Meeting notes

[2020-05-05 22:45] jessesquires opened #56 "Auto-post to facebook?"
Auto-post to [@TechWorkersCoalition](https://www.facebook.com/TechWorkersCoalition) on Facebook, if possible.

Same as #6, we just need a facebook account.

We can use IFTTT for this too.

[2020-05-05 22:48] jessesquires commented on #6
This is done.

[2020-05-05 22:48] #6 closed

[2020-05-06 01:12] stationaery commented on #54
Yep! Will create a checklist for us by Monday

[2020-05-06 01:14] stationaery commented on #55
Yep! @dellsystem are you interested in co-leading this with me? In particular, the editorial direction?

[2020-05-12 15:20] stationaery commented on #55
@dellsystem and everyone, I revised our editorial direction doc to serve two purposes: 1) guidance for our newsletter collective, and also 2) potential points of alignment for our organizing in TWC. Please take it apart and put it back together however you want! See the doc here: https://docs.google.com/document/d/1iFHDLZxn8se0cLWNEQX5UV6ajrK-5a3w_X1MKiyNnic/edit#

We can migrate it to a GH checkl

[2020-05-12 15:52] stationaery commented on #54
Draft publishing checklist:
- [ ] Collective updates queue of issue contributors by 2pm Pacific Friday
- [ ] Collective decides on issue lead and co-lead by 5pm Friday
- [ ] Lead and co-lead select theme and start draft by 5pm Monday
- [ ] Lead and co-lead complete and share final draft by 2pm Thursday
- [ ] Collective proofreads and finishes QA by 6pm Thursday
- [ ] Collective pushes issue by 6pm

[2020-05-12 22:15] anaulin opened #60 "Add a prompt at the bottom of each issue post to encourage folks sending in contributions or suggestions"
Can be inspired by wording in our "About" page. Goal is to encourage open-ended suggestions and contributions without making any misleading promises as we work on refining the editorial and publishing process.

[2020-05-12 23:35] jessesquires commented on #54
Opened a PR at #63.

Going to close this and we can move the discussion there.

[2020-05-12 23:35] #54 closed

[2020-05-13 00:14] jessesquires commented on #55
@techworkersco/newsletter-folks Assigning this task to everyone to take a look at the draft and sign-off. You can un-assign yourself once you've done that and comment here. 😄

https://docs.google.com/document/d/1iFHDLZxn8se0cLWNEQX5UV6ajrK-5a3w_X1MKiyNnic/edit#

[2020-05-13 00:14] jessesquires commented on #55
✅ Looks good to me. I left a few minor comments.

[2020-05-13 01:30] anaulin commented on #55
Left a couple of very minor comments. Looks good to me otherwise. ✅

[2020-05-13 02:01] dellsystem commented on #55
Left some comments and suggestions!

[2020-05-13 02:09] #51 closed

[2020-05-13 23:19] #35 closed

[2020-05-13 23:26] stationaery opened #67 "browser window and body text frame hiccup"
When the browser window is <1075px and >825px, the body text frame pinches to a much more narrow width than even <825px and >635px (at which point when the menu serves up a hamburger ≡). I'm not seeing anything in the CSS file; might be something someone knows how to fix in Bootstrap?

[2020-05-14 00:07] jessesquires commented on #67
The hamburger menu is expected behavior.

Is the issue that the column of text is too narrow?

[2020-05-14 00:11] stationaery commented on #67
Correct- it's an issue with the body text width at a certain window width
interval.

Nothing to do with the burger, which is fine! I mentioned it only to
indicate the point at which the text hiccup occurs.

On Wed, May 13, 2020 at 5:07 PM Jesse Squires <notifications@github.com>
wrote:

[2020-05-14 00:19] jessesquires commented on #67
cool. yeah we can tweak that.

docs: https://getbootstrap.com/docs/4.5/layout/grid/#grid-options

[2020-05-14 01:50] jessesquires commented on #36
Ok folks! This is fixed!

Apparently, we completely exceeded the testing email sends for this campaign. I thought that was a temporary limit the other week and that we'd be able to send more tests later. However, it appears that it's a hard limit on MailChimp -- so, no more test emails for us. Ever. 🤷‍♂️

### Anyway, the notable changes are:

- Fixed mobile (I actually didn't do anything specific

[2020-05-14 01:51] #36 closed

[2020-05-14 02:01] anaulin commented on #36
Beautiful, thanks Jesse! 🎉 😻

[2020-05-14 02:14] stationaery commented on #36
🎉! Nice work!

Also, wtƒ! I don't get it. Why limit tests forever not just for a duration
of time? At least, can we ask MailChimp to re-set the tests?

On Wed, May 13, 2020 at 7:01 PM Ana Ulin <notifications@github.com> wrote:

[2020-05-14 20:09] anaulin commented on #60
Closed by https://github.com/techworkersco/techworkersco.github.io/pull/66

[2020-05-14 20:09] #60 closed

[2020-05-19 23:15] jessesquires opened #75 "Fix mailchimp spam issue + custom domain email"
Reports that emails are going to spam because sender domain (`@protonmail`) is not owned by us.

Investigate getting an `@techworkersco` email address.

---

### DNS records

- Create a `CNAME` record for `k1._domainkey.techworkerscoalition.org` with value `dkim.mcsv.net`
- Create a `TXT` record with this value: `v=spf1 include:servers.mcsv.net ?all`
---

### Docs

The article below has informatio

[2020-05-20 01:47] stationaery opened #76 "MailChimp template tweaks"
Two proposed enhancements for the MailChimp template:
1) Move the “Read on the web »” link to the top/above the body text, because readers scrolling to the bottom will likely have read or skimmed the thing to their satisfaction already
2) Add the "Want to contribute? Email us or open a GitHub issue." copy/links to the bottom, to give readers an easier/quicker option to actually contribute

[2020-05-20 01:49] stationaery commented on #67
FWIW, here's a 43sec screencast recording showing the text frame width hiccup in action: https://drive.google.com/open?id=17OdL2dIVwE8HtF04a4vXOuSVG5ysLBPw

[2020-05-22 00:14] jessesquires commented on #21
closing this in favor of #19

[2020-05-22 00:14] #21 closed

[2020-05-22 00:28] jessesquires commented on #19
Alright, this is done. https://github.com/techworkersco/twc-site/pull/217

The PR hasn't landed, but going to close this now since the work is done.

[2020-05-22 00:28] #19 closed

[2020-05-23 19:46] jessesquires commented on #76
just fixed this.

## "read on the web" text

<img width="923" alt="Screen Shot 2020-05-23 at 12 43 13 PM" src="https://user-images.githubusercontent.com/2301114/82739287-4cefee80-9cf3-11ea-8e77-b6caac1bb109.png">

## footer text

<img width="931" alt="Screen Shot 2020-05-23 at 12 43 25 PM" src="https://user-images.githubusercontent.com/2301114/82739288-4d888500-9cf3-11ea-883e-43af57bb6e49.png">

[2020-05-23 19:46] #76 closed

[2020-05-23 20:20] jessesquires commented on #75
This is now completed.

Emails will be sent from `news-noreply@techworkerscoalition.org`

[2020-05-23 20:20] #75 closed

[2020-05-23 20:24] jessesquires commented on #75
@techworkersco/newsletter-folks This is now completed. 🎉

Emails will be sent from `news-noreply@techworkerscoalition.org`. The domain is verified and authenticated.

This is a "no-reply" address to send from only. We will still use our proton mail account for everything else.

[2020-05-23 21:02] #24 closed

[2020-05-23 21:04] anaulin opened #79 "Add some kind of link to "previous" or "archive" at the bottom of "latest" post in newsletter site main page"
When you land on https://news.techworkerscoalition.org/ you are shown the latest issue, and then if you read to the bottom it would be nice to show a link to previous issues, or the archive.

[2020-05-23 21:06] anaulin commented on #75
Nice. Thanks for sorting this out, @jessesquires 😻

[2020-05-23 23:34] stationaery commented on #75
HuzZah! Question: why not set up an alias to reply to the Protonmail
account?

On Sat, May 23, 2020 at 2:06 PM Ana Ulin <notifications@github.com> wrote:

[2020-05-24 00:04] anaulin commented on #75
I can think of two reasons:
1) Administration and maintenance overhead.
2) It makes having an encrypted Protonmail account moot if we're forwarding email through other, presumably un-encrypted, services.

That said, I don't know if we care about having an encrypted Protonmail account for this. In which case, if it was possible to set up a @techworkerscoalition.org account, that might be nicer than

[2020-05-24 01:46] stationaery commented on #76
😊📧✨

On Sat, May 23, 2020 at 12:46 PM Jesse Squires <notifications@github.com>
wrote:

[2020-05-24 01:50] stationaery commented on #75
1. is probably inevitable if we’re allowing emails in the first place :(

2. is a legitimate concern, not sure if we’re trying to ensure end to end
encryption, but why not, if we can

My reason for asking about reply ability is, I get a bit put off by seeing
no-reply emails, like I’m stuck on the receiving end of someone else’s
project. And I would like us to be able to include folks who care enou

[2020-05-25 02:12] rossPatton opened #80 "Visual Design Pass Proposition"
Hey all,

So, just posting this here in the interest of democracy and gathering feedback. Me and danny have been chatting a bit about doing 2 small design projects with regards to the TWC newsletter project.

1 - A general design refresh of the newsletter micro-site. We were talking about moving to something softer, more welcoming palette. Red and Black is classic but looks a little rough tbh. I w

[2020-05-25 22:50] anaulin commented on #80
I have no objections to sprucing up the newsletter microsite, but can't speak for the rest of the @techworkersco/newsletter-folks that have been setting it up and maintaining it.

As for the main site, that looks a little bit more "designed" to me and I don't know who is involved in that and who might Have Feelings ™️ about it. (But I personally, again, would not object to improvements!)

[2020-05-26 06:58] dellsystem commented on #80
sounds good to me!

[2020-05-26 07:34] dellsystem commented on #75
thanks for sorting this @jessesquires!

I personally never pay attention to whether an email address is no-reply so I don't really mind that. The protonmail email is listed at the bottom of the email, right?

[2020-05-26 17:18] jessesquires commented on #75
Correct. The "email us" link goes to proton mail.

[2020-05-26 17:56] jessesquires commented on #80
Hey @rossPatton - thanks for taking the time to think about this!

I'm skeptical and apprehensive toward these types of projects/proposals. My concern is that we end up focusing on web design, infra, and productization — instead of on the actual organizing work that needs to be done. I think that is a mistake, letting ourselves fall victim to the capitalist mindset into which we've been conditione

[2020-05-26 22:52] jessesquires opened #81 "Find a collaborative markdown editor?"
We are interested in using a collaborative markdown editor instead of Google Docs for drafting.

The goal is to reduce friction even more, as Google Docs is not great with markdown, but it is much easier to keep the draft in markdown so that transferring to GitHub is faster, easier, and less error-prone.

Potential options:
- https://hackmd.io
- quip: https://quip.com/blog/markdown

[2020-05-26 22:53] jessesquires commented on #81
I'll try to investigate the options soon.

[2020-05-26 22:57] anaulin commented on #80
To synthesize what has been said on the thread so far:
* We are open to a PR or two with a lil' bit of design polish, as long as it doesn't require too much of a time investment that would detract from our time spent getting out the newsletter itself and other work.
* The timeline thing seems cool, but duplicative with the work of collectiveactions.tech. If you wanted to do some more visualization

[2020-05-26 22:59] anaulin commented on #10
Is this issue still relevant? Myself, I am not sure we want to be limiting the length of the newsletter to Appease the GMail Gods. Should we close this issue as "won't do"?

[2020-05-26 23:02] anaulin commented on #81
The only one I've ever tried is https://draftin.com/, which is really nice (has built-in "diff" views) and stuff, but I am not sure if it there is a free account option.

[2020-05-26 23:05] anaulin commented on #81
Ah, and Dropbox Paper is pretty nice, too, and it lets you export the markdown and also you can leave "comments" on the side, like in Google Docs: https://www.dropbox.com/paper

[2020-05-26 23:11] jessesquires commented on #10
We also recently updated the template to have "Read on the web" at the very top, so that may be another argument to not worry about this too much.

[2020-05-29 13:31] stationaery commented on #79
Following on this- the current *Latest* label button on the landing page
seems superfluous. It’s also placed under the title instead above it like
the other nav buttons. And it is styled in bold dark font on a dark
background that demands attention. I click the button (or the issue title)
and then get taken to the same issue again but with the Previous button on
top, which seems awkward. Why did I

[2020-05-29 15:56] stationaery commented on #79
Upon closer inspection (on desktop this time), I realize that the button is _not_ a link! I feel doubly silly now. 🙃🙃 But, it is still super dark/heavy compared to the article itself.

So, new proposal: style the "Latest" button to look like the other nav buttons, and with a star, like "Latest 🌟" (another option, if you wish: "New 🌟")

Also, another proposal: at the bottom of the landing page, add

[2020-06-01 21:40] stationaery commented on #81
PS! I've collaborated with folks using Paper to edit plain documents and
also print materials with complex layout. It's good!

On Tue, May 26, 2020 at 4:06 PM Ana Ulin <notifications@github.com> wrote:

[2020-06-12 07:53] stationaery commented on #81
Paper worked out pretty well!

[2020-06-12 07:53] #81 closed

[2020-06-13 01:33] stationaery opened #88 "Archive: update Volume 1 entries so that no images are above the <!--excerpt-->"
In https://news.techworkerscoalition.org/archive/ or in each issue (I'm not sure which), make edits so the cover image shows in the archive view

[2020-06-14 00:31] jessesquires commented on #88
Actually, I disagree with that -- I think that overloads that page, makes it too busy.

Currently, the ones that are displaying images are odd-ball issues from Volume 1.

I would rather move those images below the `` so that they do not show on the archives page.

(Also, I think that will have strange implications for the "preview text" in the RSS feed and elsewhere.)

[2020-06-14 20:38] stationaery commented on #88
not show on the archives page

I can get with that. I’m coming from a place of wanting the archive to look
organized and accessible. Looking back at it now, the images for the Vol. 1
issues was grabbing my attention and sort of distracting me from other
entries.

On Sat, Jun 13, 2020 at 5:31 PM Jesse Squires <notifications@github.com>
wrote:

[2020-06-17 22:07] anaulin commented on #88
Sounds like this issue is resolved. Should we close it? (We can have a separate issue to hide the few images from older issues that show in the archive.)

[2020-06-17 22:53] #20 closed

[2020-06-17 22:57] jessesquires commented on #88
@anaulin I think it's ok to keep tracking using this issue.

I updated the title of this to reflect the changes we want to make.

[2020-06-17 22:58] jessesquires commented on #88
looks like there's only 4 issues where this happens, so should be a quick fix.

those entries will not have any preview text, but i think that's ok --- no use spending time trying to perfect Volume 1, which was less structured.

[2020-06-25 19:53] #88 closed

[2020-06-25 20:14] jessesquires commented on #10
Want to ping this thread again.

Still worth investigating this or no?

[2020-06-25 22:04] anaulin commented on #10
I'm a vote for "nah, let's close this". As I said above, I don't love the idea of limiting content length based on whatever arbitrary limit GMail has settled on right now.

[2020-08-18 07:55] #79 closed

[2020-09-03 17:40] #55 closed

[2020-10-21 21:01] stationaery opened #136 "Mobile Safari subscription"
A little birdie text me yesterday to say, "For some reason the newsletter signup for Safari mobile [on iPhone] didn’t work. But Chrome mobile did."

[2020-11-02 06:52] jessesquires opened #140 "Implement link checker on pull requests"
Thoughts of this because of #139

We can automate checking for dead links on PRs to catch these errors.

Can use this:
https://github.com/marketplace/actions/markdown-link-check

[2020-11-03 19:02] #140 closed

[2020-12-03 03:30] stationaery opened #148 "Footer update"
Now that we've got a call for submissions page, here are few ideas to update the footer:

**Want to write, edit, or talk with us? [Start here](https://news.techworkerscoalition.org/call-for-submissions/).**

**Want to contribute? [Here's how](https://news.techworkerscoalition.org/call-for-submissions/).**

**Building worker power in tech? [Tell us about it](https://news.techworkerscoalition.org/ca

[2020-12-16 09:24] shushugah opened #150 "Merge subscribe form?"
Would it make sense to merge https://techworkerscoalition.org/subscribe/ and https://news.techworkerscoalition.org/subscribe/ ?

Anyone who subscribes (or attempts to at least) should be auto subscribed to the newsletter. I made a pullrequest on the wheeli subscribe form. If this is approved https://github.com/techworkersco/wheelie/pull/5 then we could either close one of the subscribe pages/keep

[2021-01-06 20:33] jessesquires commented on #136
I just tested this and it worked for me.

Going to close for now...

[2021-01-06 20:33] #136 closed

[2021-01-06 20:59] stationaery commented on #136
Same here 🎉

[2021-01-11 19:31] #148 closed

[2021-01-11 20:12] jessesquires opened #156 "Update Process doc"
We should update this to reflect recent changes, etc.

https://github.com/techworkersco/techworkersco.github.io/blob/master/.github/PROCESS.md

[2021-01-13 21:48] jessesquires opened #159 "Automate opening PRs with issue template"
I *think* we can do this with GH actions.

- Update script to search `_posts` to determine the issue #
- Auto determine date for "next friday"
- Have GH action run on Wednesday prior to Friday publishing
- Trigger manually?

[2021-01-13 21:55] jessesquires commented on #159
https://github.com/marketplace/actions/create-pull-request

[2021-01-14 00:40] jessesquires opened #160 "Automate running ImageOptim on PRs"
Similar to #159, I think we should be able to have the bot run png crush and commit the changes.

1. download https://imageoptim.com/ImageOptim.tbz2
2. unzip
3. run `ImageOptim.app/Contents/MacOS/ImageOptim *.png` (https://imageoptim.com/command-line.html)
4. commit changes
5. commit to PR

[code]

[2021-01-14 01:48] #159 closed

[2021-01-14 01:58] jessesquires commented on #159
It works!

Go here to trigger it: https://github.com/techworkersco/techworkersco.github.io/actions?query=workflow%3A%22Create+New+Issue%22

<img width="1384" alt="Screen Shot 2021-01-13 at 5 57 37 PM" src="https://user-images.githubusercontent.com/2301114/104534310-e5134e80-55c8-11eb-982a-aeb72f6ebcb3.png">

[2021-01-15 01:13] #160 closed

[2021-01-15 02:42] jessesquires opened #170 "Implement auto-merging on publish days"
New GitHub action that runs every Friday morning.

If PR has `auto-merge on friday morning` label, then merge at 9am.

[2021-01-15 03:29] stationaery commented on #170
I like how we discussed doing what brings us joy individually, and now
these improvements you’re making @jessesquires look like they’ll bring joy
to all of us 😊😊😊😊😊😊

On Thu, Jan 14, 2021 at 6:42 PM Jesse Squires <notifications@github.com>
wrote:

[2021-01-16 08:11] jessesquires commented on #170
Ok, this is done! 🎉

### How it works

The bot will begin checking for pull requests at `08:30am PST` or `09:30am PDT` every Friday. (The time discrepancy is because of daylight savings, and we must provide a single time in UTC. So this is the best compromise to meet our 11am mailchimp deadline and still have room for last-minute fixes/edits.)

It will check every 30 min for 3 hours.

The bot will

[2021-01-16 08:11] #170 closed

[2021-01-16 08:11] jessesquires commented on #170
At least, this is how it **should** work. We'll see next Friday. 😅

[2021-01-18 05:04] jessesquires opened #177 "[Infra] add Danger rule to prompt to add header image"
On issue PRs (has `next issue` label), if no images are added, prompt "Add images here"

Link to:

`https://github.com/techworkersco/techworkersco.github.io/upload/<PR_BRANCH>/img`

which will upload images to `img/` on the PR branch

---

Use danger `branch_for_head` to get PR branch
https://danger.systems/reference.html

[2021-01-22 17:36] stationaery opened #182 "Vol. 3 appearing in the archive"
Right now, issues in Volume 3 do not seem to appear in https://news.techworkerscoalition.org/archive/ 🤔

[2021-01-22 17:49] jessesquires commented on #182
@stationaery you made https://github.com/techworkersco/techworkersco.github.io/pull/179 for 2020, not 2021

[2021-01-22 17:49] jessesquires commented on #182
i'm fixing now

[2021-01-22 17:50] #182 closed

[2021-01-22 17:57] jessesquires commented on #182
partially my fault. i will add checks to the script to prevent creating issue in the past

[2021-02-04 22:56] jessesquires opened #183 "[Infra] comment on PR with preview of issue"
This would be nice to have, but will require some work...

On CI:

1. Install [webkit2png](https://paulhammond.org/webkit2png), `brew install webkit2png`
2. serve the site locally in the background, `bundle exec jekyll serve &`
3. capture the screenshot `webkit2png --fullsize --width=1000 --filename=preview http://127.0.0.1:4000`
4. file will be saved to `preview-full.png`
5. foreground and kill t

[2021-02-11 07:49] #177 closed

[2021-02-18 06:31] jessesquires opened #192 "Fix auto-publish workflow"
This is currently not working.

Example: https://github.com/techworkersco/techworkersco.github.io/pull/187

Filed an issue on the action repo:
https://github.com/reitermarkus/automerge/issues/272

---

~~Maybe switch to one of these instead?~~
- ~~https://github.com/marketplace/actions/automatically-merge-pr~~
- ~~https://github.com/marketplace/actions/pr-merge-bot~~

EDIT: actually these actions

[2021-02-21 15:38] #192 closed

[2021-04-10 14:10] shushugah commented on #183
I think the simpler solution would be to create a Netlify preview, which you can share links with people

[2021-04-21 18:08] jessesquires commented on #183
closing as "done" via the netlify solution

[2021-04-21 18:08] #183 closed

[2021-05-09 00:27] jessesquires opened #219 "Upgrade to Bootstrap 5.0?"
Not sure how difficult this will be. We don't really customize anything, so it should be straight-forward.

Docs:

https://getbootstrap.com/docs/5.0/migration/

https://getbootstrap.com/docs/5.0/getting-started/introduction/

[2021-05-17 22:25] jessesquires commented on #150
@shushugah Hey, sorry for not following up on this sooner! 😅 (It totally fell off my radar.)

I think it makes sense to keep the subscribe forms separate -- they are not mutually inclusive in my view. I can see lots of folks who may wish to sign up for the newsletter emails, but not necessarily be added to Slack and go through that whole process, etc.

I also think it makes a lot of sense to have

[2021-07-11 21:33] stationaery commented on #56
@jessesquires

[2021-12-14 19:40] stationaery opened #279 "Email images broken: "remote server's identity certificate""
Error message in today's email via MailChimp: "image did not load because remote server's identity certificate is invalid"

[2021-12-14 19:41] stationaery commented on #279
May have something to do with @shushugah modifying the domains recently

[2021-12-14 20:15] jessesquires commented on #279
Hm weird... no idea. I'll defer to @shushugah

[2021-12-15 21:53] shushugah commented on #279
How does the mailchimp setup work? What URL's is it pointing to with the newsletter/expecting?

[2021-12-16 16:26] jessesquires commented on #279
Mailchimp just reads the RSS feed.

(Images use absolute URLs so it can grab them correctly.)

[2021-12-16 18:06] shushugah commented on #279
is there any email alias used? like newsletter@techworkerscoalition.org or something? I didn't touch techworkersco.org, but techworkerscoalition.org is now on Netlify DNS.

[2021-12-16 18:08] shushugah commented on #279
I'm not seeing absolute urls for all images tho https://news.techworkerscoalition.org/feed.xml

[2021-12-20 20:14] stationaery commented on #279
We've got another issue coming out tomorrow. Hopefully you @jessesquires @shushugah can fix the image coming through in MailChimp before then? There were some changes discussed and made a few weeks ago - here https://github.com/techworkersco/techworkersco.github.io/pull/262#issuecomment-947386411 and here https://github.com/techworkersco/techworkersco.github.io/pull/265

[2021-12-20 20:47] jessesquires commented on #279
@shushugah

Looks like emails are currently sent from `news-noreply@techworkerscoalition.org` -- which I don't remember setting up. We had originally setup a protonmail account. @stationaery Do you remember the details behind the email setup?

So maybe this is part of the issue?

oh oops. 😳 well, it looks like #265 is the problem. we made the adjustments to img urls for "development" builds so tha

[2021-12-20 20:50] stationaery commented on #279
I believe that setup was @anaulin and/or @dellsystem 😊😊

[2021-12-20 20:52] jessesquires commented on #279
RE: img URLs and #265

The GitHub pages environment **should** be setting `jekyll.environment` to `"production"`, but it looks like that isn't happening for some reason...

https://stackoverflow.com/questions/34603799/setting-jekyll-environment-for-github-pages

I'll investigate a bit more, and get this fixed by EOD -- at least a patch to make it work (which, might break the images in the previews

[2021-12-20 20:55] jessesquires commented on #279
Actually -- it looks like we published multiple issues successfully **after** #265.

Only the most recent one has this issue. So... not sure what has changed...

[2021-12-20 21:00] stationaery commented on #279
The only thing that changed recently was Yonatan tweaking the domains

On Mon, Dec 20, 2021 at 12:55 PM Jesse Squires ***@***.***>
wrote:

[2021-12-20 21:35] shushugah commented on #279
I do not see any TXT or MX records for the email, but that can be changed if one of you who has access to protonmail goes through the steps and sends me a unique **txt record** (signal works best; my number: +4915166008114) but also my twitter dm is public https://twitter.com/shushugah per the instructions here: https://protonmail.com/support/knowledge-base/dns-records/

Do you know if DMARK/SPF/D

[2021-12-20 21:48] anaulin commented on #279
Re: email, I didn't set any of that up, and don't have any context.

[2021-12-20 22:13] shushugah commented on #279
@jessesquires I tagged you in #282 am unsure what the linter error is, but let me know if it makes sense. That would address the broken feed.xml

[2021-12-21 00:40] jessesquires commented on #279
@shushugah #282 looks good! thank you for that! 🙌🏼

Oh interesting. I think @kidmillions set up the email maybe? But I doubt we'll hear from him. 😅

Possibly, but I'm not sure.

@stationaery Could you sign-in to mailchimp and confirm the "from" email?

[2021-12-21 00:54] jessesquires commented on #279
Returning to the original error message from @stationaery:

I think the idea that something is wrong with the sender email account was a red herring. I think all that setup is actually fine.

Because hosting/serving was moved from GH-Pages to Netlify (#282), we were accidentally using relative image urls (e.g. `/img/vol3-header.jpg`) instead of absolute urls (e.g., `news.techworkersco.org/img/vol3

[2021-12-21 03:46] stationaery commented on #279
I don't but @dellsystem perhaps you know?

[2021-12-21 19:46] jessesquires commented on #279
Thanks @stationaery ! 🙌🏼

Ok -- I think we're good here and I'm going to close this. The emails went out this morning for #280 and everything looked good!

I'm pretty sure we setup all DNS records correctly way back when the `noreply` email was created.

[2021-12-21 19:46] #279 closed

[2021-12-30 02:30] jessesquires opened #288 "[Infra] Limit number of posts in RSS feed"
We should limit the number of posts in the RSS feed, it is quite large now and could eventually become a problem.

This is relatively easy to do, I just need to find the time to do it.

We should limit to like the last 30 posts or something.

My template has it implemented correctly:
https://github.com/jessesquires/template-jekyll-site/blob/main/feed.xml#L23

[2022-04-13 06:30] #288 closed

[2022-05-26 19:26] stationaery opened #331 "DuckDuckGoNoGo"
Interesting hiccup... the DDG site search setup seems to be broken; searching any keyword at all turns up zero results.

[2022-05-26 19:35] jessesquires commented on #331
@stationaery This is an ongoing issue for many different sites, unfortunately.

See:
- https://www.jessesquires.com/blog/2022/03/25/my-website-disappeared-from-bing-and-duckduckgo/
- https://www.jessesquires.com/blog/2022/04/17/duckduckgo-removing-other-sites/